.admin-forgotpass-container {
  display: flex;
  flex-direction: row;
  height: 98vh;
  width: 99vw;
}

.admin-htaaq-logo-image-container {
  flex: 1;
  display: flex;
  background: #f6f1fb;
  justify-content: center;
  align-items: center;
}

.htaaq-logo-image {
  width: 50%;
  max-width: 450px;
  object-fit: contain;
}

.admin-forgotpass-divider {
  width: 1px;
  height: 80%;
  background-color: #cfd8e6;
  align-self: center;
}

.admin-forgotpass-form-container {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-forgotpass-bg {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border: 1px solid #e3e8ef;
  animation: fadeIn 0.5s ease;
}

.error-text{
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.admin-forgotpass-bg h2 {
  font-weight: 600;
  margin-top: 0%;
  margin-bottom: 0%;
}

.admin-forgotpass-bg p {
  color: #444;
  font-size: 0.95rem;
}

.forgotpass-form-text {
  margin-top: 30px;
}

label.required::after {
  content: " *";
  color: red;
}

.input-textbox {
  margin-top: 5px;
  width: 100%;
  padding: 10px 40px 10px 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 1rem;
  border-radius: 8px;
  background: #fff;
  transition: 0.2s ease;
}

.input-textbox:focus {
  outline: none;
  border-color: #8b5cf6;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgotpass-link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpass-btn {
  margin-top: 35px;
  width: 100%;
  height: 45px;
  background: #8b5cf6;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.forgotpass-btn:hover {
  background: #7c3aed;
  transform: translateY(-2px);
}

.forgotpass-btn:disabled {
  background: #6c757d;
  cursor: not-allowed;
  transform: none;
}

@media (max-width: 768px) {
  .admin-forgotpass-container {
    flex-direction: column;
    padding: 15px;
  }

  .admin-forgotpass-divider {
    display: none;
  }

  .admin-htaaq-logo-image-container {
    margin-top: 20px;
  }

  .htaaq-logo-image {
    width: 60%;
  }

  .admin-forgotpass-bg {
    margin-top: 25px;
    padding: 2rem;
  }
}
