.cat-card {
  margin-left: 15px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.more-icon {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #6b7280;
  padding: 5px;
}

.more-icon:hover {
  color: #111827;
}

.cat-card .icon {
  font-size: 30px;
  margin-bottom: 10px; /* spacing from title/subtitle */
}

.card-subtitle {
  margin-bottom: 0%;
  font-size: 14px;
  color: #6b7280;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 25px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 150px;
}

.dropdown-item {
  font-size: medium;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
