.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  margin-left: 28px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.htaaq-logo {
  max-width: 100px;
  height: 50px;
  margin-left: 30px;
  cursor: pointer;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  margin-right: 100px;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-bar {
  font-size: medium;
  background-color: #e2e2e2;
  width: 100%;
  height: 35px;
  border-radius: 50px;
  border: none;
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #555;
}

.username {
  margin-right: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
  }
}
