.prev-header {
  border-radius: 10px;
  width: 700px;
  margin: 20px auto;
  padding-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.prev-header-title {
  font-size: larger;
  font-weight: bold;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  display: flex;
}

.prev-page-title{
  padding: 5px;
}

.prev-back-btn {
  background: none;
  margin-top: 16px;
  font-size: 24px;
  cursor: pointer;
}

.test-info-details {
  width: 620px;
  margin: 15px auto;
  background: #ffffffb3;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 15px;
}

.test-info-details h1 {
  margin-top: 0%;
}

.test-info-details p {
  font-size: larger;
}

.test-info-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.rich-text-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.rich-text-content img.image-align-left {
  margin-left: 0;
  margin-right: auto;
}

.rich-text-content img.image-align-center {
  margin-left: auto;
  margin-right: auto;
}

.rich-text-content img.image-align-right {
  margin-left: auto;
  margin-right: 0;
}

.extra-data {
  margin-top: 20px;
  border-radius: 8px;
}


