.sidenav {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  background-color: #fff;
  overflow-x: hidden;
  z-index: 5;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
  overflow: visible;
}

.sidenav.collapsed {
  width: 80px;
}

.sidenav.expanded {
  width: 200px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.nav-icon {
  height: 45px;
  margin-left: 15px;
  font-size: 18px;
  margin-right: 16px;
  min-width: 24px;
}

.nav-text {
  font-size: 16px;
}

.sidenav.collapsed li:hover::after {
  content: attr(data-label);
  position: absolute;
  left: 35%;
  top: 90%;
  transform: translateY(-50%);
  background-color: #865BB8;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.sidenav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
}