.sidenav {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  background-color: #fff;
  overflow-x: hidden;
  z-index: 5;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
  overflow: visible;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 75px;
}

.sidenav.expanded {
  width: 205px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav li {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.sidenav a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 100%;
  transition: background 0.25s ease;
}

/* Default hover effect */
.sidenav a:hover {
  background: linear-gradient(135deg, #f6f1fb, #ebe3f740);
  border-radius: 8px;
}

/* Active link like iOS tabs */
.sidenav a.active {
  background: linear-gradient(135deg, #f6f1fb, #ebe3f7);
  border-radius: 8px;
}

.sidenav a.active .nav-icon {
  height: 45px;
  margin-left: 15px;
  font-size: 15px;
  margin-right: 16px;
  min-width: 24px;
  transition: all 0.25s ease;
  color: #8b5cf6;
  transform: scale(1.2);
}

.sidenav a.active .nav-text {
  font-weight: 600;
  color: #8b5cf6;
}

/* left indicator bar */
.sidenav a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5;
  bottom: 0;
  width: 4px;
  height: 60px;
  background: #8b5cf6;
  border-radius: 0 4px 4px 0;
}

/* Icon + text */
.nav-icon {
  height: 45px;
  margin-left: 15px;
  font-size: 20px;
  margin-right: 16px;
  min-width: 24px;
  transition: all 0.25s ease;
}

.logout-icon {
  height: 35px;
  margin-right: 16px;
  min-width: 24px;
  transition: all 0.25s ease;
}

.nav-text {
  font-size: 16px;
  transition: all 0.25s ease;
}

/* Tooltip when collapsed */
.sidenav.collapsed li::after {
  content: attr(data-label);
  position: absolute;
  top: 92%;
  margin-left: 5px;
  text-align: center;
  width: 44px;
  transform: translateY(-40%);
  color: #000;
  border-radius: 4px;
  font-size: 14px;
}

/* Layout */
.sidenav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
}

.logout-btn {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  padding: 12px 16px;
  text-align: left;
  transition: background 0.25s ease;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #f6f1fb, #ebe3f740);
  border-radius: 8px;
}

hr {
  width: 80%;
}

@media (max-width: 1024px) {
  .sidenav.expanded {
    width: 205px;
  }

  .sidenav.collapsed {
    width: 75px;
  }
}

@media (max-width: 768px) {
  .sidenav.expanded {
    width: 170px;
  }

  .sidenav.collapsed {
    width: 70px;
  }

  /* Tooltip when collapsed */
  .sidenav.collapsed li::after {
    content: attr(data-label);
    position: absolute;
    top: 92%;
    margin-left: 0px;
    text-align: center;
    width: 50px;
    transform: translateY(-40%);
    color: #000;
    border-radius: 4px;
    font-size: 14px;
  }

  .sidenav a.active .nav-icon {
    height: 45px;
    margin-left: 12px;
    font-size: 15px;
    margin-right: 16px;
    min-width: 24px;
    transition: all 0.25s ease;
    color: #8b5cf6;
    transform: scale(1.2);
  }

  .nav-icon {
    height: 45px;
    margin-left: 15px;
    font-size: 20px;
    margin-right: 16px;
    min-width: 24px;
    transition: all 0.25s ease;
  }

  .logout-icon {
    height: 30px;
    margin-right: 16px;
    min-width: 22px;
    transition: all 0.25s ease;
  }

  /* optional: smaller text */
  .nav-text {
    font-size: 14px;
  }
}
