.stats-card {
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  background: white;
  border-radius: 16px;
  padding: 24px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
  max-width: 320px;
  width: 25%;
  position: relative;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  min-height: 48px;
}

.stat-icon {
  font-size: 40px;
  color: #8b5cf6;
}

.main-number {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 700;
  color: #1f2937;
  line-height: 1;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
  margin-top: 0%;
  margin-bottom: 12px;
}

.card-subtitle {
  font-size: 14px;
  color: #6b7280;
}
